.page-id-4046 #logo,
.page-id-5011 #logo,
.page-id-5214 #logo,
.page-id-4172 #logo,
.page-id-5138 #logo,
.page-id-4107 #logo,
.page-id-5233 #logo,
.page-id-5435 #logo,
.page-id-4022 #logo,
.page-id-4460 #logo,
.page-id-4900 #logo,
.page-id-4870 #logo,
.page-id-4083 #logo,
.page-id-4141 #logo,
.page-id-4166 #logo,
.page-id-4677 #logo,
.page-id-1292 #logo,
.page-id-4692 #logo,
.page-id-4714 #logo,
.page-id-4782 #logo,
.page-id-4848 #logo,
.page-id-5507 #logo
{
    filter: brightness(0) invert(1);
}

.page-id-4046 .sf-menu a,
.page-id-5011 .sf-menu a,
.page-id-5214 .sf-menu a,
.page-id-4172 .sf-menu a,
.page-id-5138 .sf-menu a,
.page-id-4107 .sf-menu a,
.page-id-5233 .sf-menu a,
.page-id-5435 .sf-menu a,
.page-id-4022 .sf-menu a,
.page-id-4460 .sf-menu a,
.page-id-4900 .sf-menu a,
.page-id-4870 .sf-menu a,
.page-id-4083 .sf-menu a,
.page-id-4141 .sf-menu a,
.page-id-4166 .sf-menu a,
.page-id-4677 .sf-menu a,
.page-id-1292 .sf-menu a,
.page-id-4692 .sf-menu a,
.page-id-4714 .sf-menu a,
.page-id-4782 .sf-menu a,
.page-id-5507 .sf-menu a,
.page-id-4848 .sf-menu a    {
color: #ffffff !important;
}

.page-id-4046 .sf-arrows .sf-with-ul:after,
.page-id-5011 .sf-arrows .sf-with-ul:after,
.page-id-5214 .sf-arrows .sf-with-ul:after,
.page-id-4172 .sf-arrows .sf-with-ul:after,
.page-id-5138 .sf-arrows .sf-with-ul:after,
.page-id-4107 .sf-arrows .sf-with-ul:after,
.page-id-5233 .sf-arrows .sf-with-ul:after,
.page-id-5435 .sf-arrows .sf-with-ul:after,
.page-id-4022 .sf-arrows .sf-with-ul:after,
.page-id-4460 .sf-arrows .sf-with-ul:after,
.page-id-4900 .sf-arrows .sf-with-ul:after,
.page-id-4870 .sf-arrows .sf-with-ul:after,
.page-id-4083 .sf-arrows .sf-with-ul:after,
.page-id-4141 .sf-arrows .sf-with-ul:after,
.page-id-4166 .sf-arrows .sf-with-ul:after,
.page-id-4677 .sf-arrows .sf-with-ul:after,
.page-id-1292 .sf-arrows .sf-with-ul:after,
.page-id-4692 .sf-arrows .sf-with-ul:after,
.page-id-4714 .sf-arrows .sf-with-ul:after,
.page-id-4782 .sf-arrows .sf-with-ul:after,
.page-id-4848 .sf-arrows .sf-with-ul:after   {
    border-top-color: rgba(255,255,255,1) !important;
}

 .sf-arrows .sf-with-ul:after   {
    border-top-color: rgba(0,0,0,.4);
}

.page-id-4046 ul#menu-top-menu li#menu-item-2278 a,
.page-id-5011 ul#menu-top-menu li#menu-item-2278 a,
.page-id-5214 ul#menu-top-menu li#menu-item-2278 a,
.page-id-4172 ul#menu-top-menu li#menu-item-2278 a,
.page-id-5138 ul#menu-top-menu li#menu-item-2278 a,
.page-id-4107 ul#menu-top-menu li#menu-item-2278 a,
.page-id-5233 ul#menu-top-menu li#menu-item-2278 a,
.page-id-5435 ul#menu-top-menu li#menu-item-2278 a,
.page-id-4022 ul#menu-top-menu li#menu-item-2278 a,
.page-id-4083 ul#menu-top-menu li#menu-item-2278 a,
.page-id-4141 ul#menu-top-menu li#menu-item-2278 a,
.page-id-4166 ul#menu-top-menu li#menu-item-2278 a,
.page-id-4677 ul#menu-top-menu li#menu-item-2278 a,
.page-id-1292 ul#menu-top-menu li#menu-item-2278 a,
.page-id-4692 ul#menu-top-menu li#menu-item-2278 a,
.page-id-4714 ul#menu-top-menu li#menu-item-2278 a,
.page-id-4782 ul#menu-top-menu li#menu-item-2278 a,
.page-id-5507 ul#menu-top-menu li#menu-item-2278 a,
.page-id-4848 ul#menu-top-menu li#menu-item-2278 a
{
background-color: #ffffff;
    padding: 8px 12px;
    margin-top: 15px;
    font-size: 13px;
    border-radius: 19px;
    color: #00b7b6 !important;
}

.page-id-4460 ul#menu-top-menu li#menu-item-2278 a,
.page-id-4900 ul#menu-top-menu li#menu-item-2278 a,
.page-id-4870 ul#menu-top-menu li#menu-item-2278 a
{
background-color: #ffffff;
    padding: 8px 12px;
    margin-top: 15px;
    font-size: 13px;
    border-radius: 19px;
    color: #834059 !important;
}

.page-id-4460 .sf-menu .sub-menu a,
.page-id-4900 .sf-menu .sub-menu a,
.page-id-4870 .sf-menu .sub-menu a{
color: #723b59 !important;
}

.page-id-4046 .sf-menu .sub-menu a,
.page-id-5011 .sf-menu .sub-menu a,
.page-id-5214 .sf-menu .sub-menu a,
.page-id-4172 .sf-menu .sub-menu a,
.page-id-5138 .sf-menu .sub-menu a,
.page-id-4107 .sf-menu .sub-menu a,
.page-id-5233 .sf-menu .sub-menu a,
.page-id-5435 .sf-menu .sub-menu a,
.page-id-4022 .sf-menu .sub-menu a,
.page-id-4083 .sf-menu .sub-menu a,
.page-id-4141 .sf-menu .sub-menu a,
.page-id-4166 .sf-menu .sub-menu a,
.page-id-4677 .sf-menu .sub-menu a,
.page-id-1292 .sf-menu .sub-menu a,
.page-id-4692 .sf-menu .sub-menu a,
.page-id-4714 .sf-menu .sub-menu a,
.page-id-4782 .sf-menu .sub-menu a,
.page-id-5507 .sf-menu .sub-menu a,
.page-id-4848 .sf-menu .sub-menu a   {
color: #009cbb !important;
}


.section-4286 .innercontent,
.section-5292 .innercontent {
    width: 90% !important;
    margin-top: 0px !important;
    margin-left: 6% !important;
}



.section-3583.section .three_fifth column-last{
    width: 335px;
    padding-left: 212px;
}
.section-3594.section{
    padding-top: 0px;
 padding-bottom: 0px;
  }



p, div {
line-height: 1.6em !important;
}

.section-4355 a.button.medium.custom.shortcode {
background: #ffffff !important;
border: 1px solid #dddddd;
font-size: 14px;
color:#666
}

.section-4355 a.button.medium.custom.shortcode:hover
{
background: #dddddd !important;
color: #333333 !important;
}


body.page-id-3979 .sitecontainer,
body.page-id-4022 .sitecontainer,
body.page-id-4083 .sitecontainer,
body.page-id-4046 .sitecontainer,
body.page-id-5011 .sitecontainer,
body.page-id-5214 .sitecontainer,
body.page-id-4107 .sitecontainer,
body.page-id-5233 .sitecontainer,
body.page-id-5435 .sitecontainer,
body.page-id-4141 .sitecontainer,
body.page-id-4172 .sitecontainer,
body.page-id-5138 .sitecontainer,
body.page-id-4166 .sitecontainer,
body.page-id-4677 .sitecontainer,
body.page-id-1292 .sitecontainer,
body.page-id-4692 .sitecontainer,
body.page-id-4714 .sitecontainer,
body.page-id-4782 .sitecontainer,
body.page-id-4848 .sitecontainer,
body.page-id-5507 .sitecontainer,
.section-4047,
.section-4142,
.section-4108,
.section-5235,
.section-5440,
.section-5292,
.section-3984,
.section-4084,
.section-4034,
.section-4174,
.section-4286,
.section-4632,
.section-3463,
.section-5509
{
/* fallback */
  background-color: #006DB1;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#006CC5), to(#00CAB2));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #006CC5, #00CAB2);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #006CC5, #00CAB2);

  /* IE 10 */
  background: -ms-linear-gradient(left, #006CC5, #00CAB2);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #006CC5, #00CAB2);
}

.section-4344 {
margin-bottom: -62px !important;
padding-top: 25px !important;
}

.section-4177,
.section-4221,
.section-4344,
.section-3991,
.section-4783,
.section-4948,
.section-4927
{
/* fallback */
  background-color: #CEEDF5;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, top, bottom, from(#ffffff), to(#ccdeeb));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #ffffff, #ccdeeb);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #ffffff, #ccdeeb);

  /* IE 10 */
  background: -ms-linear-gradient(top, #ffffff, #ccdeeb);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #ffffff, #ccdeeb);
}

.section-4153,
.section-4123,
.section-4072,
.section-4095,
{
 /* fallback */
  background-color: #1AA48F;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#1AA48F), to(#1EAF60));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #1AA48F, #1EAF60);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #1AA48F, #1EAF60);

  /* IE 10 */
  background: -ms-linear-gradient(left, #1AA48F, #1EAF60);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #1AA48F, #1EAF60);
}



.section-3987 h2,
.section-4148 h2,
.section-4059 h2,
.section-4053 h2,
.section-5037 h2,
.section-4055 h2,
.section-4057 h2,
.section-4060 h2,
.section-4801 h2,
.section-4806 h2,
.section-4811 h2,
.section-4831 h2,
.section-5051 h2,
.section-5320 h2,
.section-5057 h2,
.section-5065 h2,
.section-5142 h2,
.section-4962 h2,
.section-4966 h2,
.section-4971 h2,
.section-4977 h2,
.section-5007 h2,
.section-4063 h2,
.section-5044 h2,
.section-4064 h2 ,
.section-4099 h3,
.section-4006 h2 ,
.section-4007 h2,
.section-4177 h2,
.section-4184 h2,
.section-4193 h2,
.section-4344 h2,
.section-4231 h3,
.section-4405 h2,
.section-5097 h2,
.section-5124 h2,
.section-5116 h2,
.section-5127 h3,
.section-4434 h2,
.section-5242 h2,
.section-4455 h2,
.section-5279 h2,
.section-3991 h2,
.section-4948 h2,
.section-4783 h2 {
background: -webkit-linear-gradient(left, #00438F, #009FDA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-4099 h3{
font-size:2.1em !important;
}
.section-4344 h4
{
margin-bottom: 0px !important;
font-weight: normal !important;
}

.section-4211 {
margin-bottom: -60px !important;
}

.section-3987 p,
.section-4148 p,
.section-4059 p,
.section-4053 p,
.section-5037 p,
.section-4055 p,
.section-4057 p,
.section-4060 p,
.section-4801 p,
.section-4806 p,
.section-4811 p,
.section-4831 p,
.section-5051 p,
.section-5057 p,
.section-5065 p,
.section-4962 p,
.section-4966 p,
.section-4971 p,
.section-4977 p,
.section-5007 p,
.section-5142 p,
.section-4063 p,
.section-5044 p,
.section-5124 p,
.section-5127 p,
.section-4099 p,
.section-4006 p,
.section-4007 p,
.section-4177 p,
.section-4184 p {
color:#0A649A;
}

.section-4211 h2
{
color: #342644;
}





.section-4113 h2,
.section-4117 h2,
.section-5265 h2,
.section-5259 h2,
.section-4129 h2,
.section-5253 h2,
.section-4070 h2,
.section-5025 h2,
.section-4088 h2,
.section-4091 h2,
.section-4038 h2,
.section-4041 h2,
.section-4043 h2,
.section-4049 h2,
.section-4209 h2 {
background: -webkit-linear-gradient(left, #3E869C, #1EAF92);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-4369,
.section-4404
 {
padding-top: 0px;
margin-bottom: -2px;
}
.section-4379{
padding-top: 0px;
margin-bottom: -45px;
}

.section-4404 h4{
    margin-bottom: -20px;
    margin-top: 30px;
}

.section-4369 p
 {
font-size: 16px;
}

.section-4369 h6,
.section-4404 h6
 {
font-family: 'Ubuntu';
font-size: 26px;
padding-top:10px;
padding-bottom:10px;
}
.section-4379 h5 {
font-size: 16px !important;
}


.section-4113 p,
.section-4117 p,
.section-5265 p,
.section-5259 p,
.section-4129 p,
.section-5253 p,
.section-4070 p,
.section-5025 p,
.section-4088 p,
.section-4091 p,
.section-4038 p,
.section-4041 p,
.section-4043 p,
.section-4049 p {
color:#339398;
}

.section h2 {
font-size: 2.2em !important;
border-bottom: 0px !important;
}



.section-4184 .five_sixth,
.section-4184 .one_sixth
 {
margin-bottom:0px !important;
}
.section-4184 h5 {
margin-bottom:5px !important;
}

.button {
    border-radius: 24px;
padding-left: 18px !important;
padding-right:18px !important;
}

.button.medium{
padding:10px 18px 12px !important;
}



@media only screen and (max-width: 960px) and (min-width: 768px) {
.container
{
width: 768px !important;
}
.container .eleven.columns {
width: 508px !important;
}
#menu-item-4156
{
display:none !important;
}
ul#menu-top-menu
{
margin-right:-15px;
}

img.aligncenter.size-full.wp-image-4587,
img.aligncenter.wp-image-4631.size-full
{
width: 125% !important;
    height: auto;
    margin-left: -16%;
}
}

@media only screen and (max-width: 479px) {
.container
{
    width: 300px !important;
  }
img.wp-image-4612.size-full.alignleft,
img.wp-image-4611.size-full.alignleft
{
margin-top: 10%;
}
img.wp-image-4535.size-full.alignleft{
width:100%;
height: auto;
}
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
.container {
    width: 420px !important;
  }
}


@media only screen and (max-width: 767px) {
.section-4505 p,
.section-4505 h5{
margin-left:0px !important;
text-align: center !important;
}
.section-4505 .container{
margin-bottom:0px !important;
}
.section-4505{
background-image: none !important;
}

.section-4286  .one_third,
.section-5292  .one_third{
width: 100% !important;
}

.section-4117 .one_half.column-last{
margin-top:80px;
}

.section-3991 p,
.section-3991 h5,
.section-4783 p,
.section-4783 h5,
.section-4948 p,
.section-4948 h5,
.section-4064 p,
.section-4064 h5,
.section-4434 p,
.section-4434 h5,
.section-5242 p,
.section-5242 h5 {
text-align: center !important;
}


.new-tab-styling ul.tabs li > a {
    font-size: 10px;
    padding: 5px 4px;
}
img.alignleft.wp-image-4227,
img.alignright.wp-image-4290{
    width: 100%;
    height: auto;
}

img.aligncenter.size-full.wp-image-4587,
img.aligncenter.wp-image-4631.size-full
{
width: 140%;
    height: auto;
    margin-left: -25%;
}
.section-4184 .alignleft{
    margin-bottom: 12px;
}
}




img.size-full.wp-image-4396
{
position: relative;
top: 1px;
left: -8px;
}

.section-4286  .one_third,
.section-5292  .one_third {
margin-bottom: 5px;
margin-right: 3.2%;
width: 31.2%
}

.section-4286 .innercontent,
.section-5292 .innercontent {
width:80%;
margin-left:12%
}

.section-4053 .fourteen.columns.offset-by-one.content{
margin-bottom:0px;
}

.section-4405 .content {
margin-bottom: 0px !important;
}


body.page-id-4460 .sitecontainer,
.section-4462
{
/* fallback */
  background-color: #543359;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#543359), to(#904359));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #543359, #904359);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #543359, #904359);

  /* IE 10 */
  background: -ms-linear-gradient(left, #543359, #904359);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #543359, #904359);
}


body.page-id-4870 .sitecontainer
{
/* fallback */
  background-color: #382D51;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#382D51), to(#675692));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #382D51, #675692);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #382D51, #675692);

  /* IE 10 */
  background: -ms-linear-gradient(left, #382D51, #675692);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #382D51, #675692);
}

.section-4467 h2,
.section-4482 h2,
.section-4500 h2
{
color:#723b59;
}

.section-4355 h2
{
color: #2b3844;
}


.section-4505 .container
{
margin-bottom: 200px;
}


.section-4213
{
/* fallback */
  background-color: #342644;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, top, bottom, from(#15293D), to(#342644));

  /* Safari 5.1, Chrome 10+ */
  background-color: -webkit-linear-gradient(top, #15293D, #342644) !important ;

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #15293D, #342644);

  /* IE 10 */
  background: -ms-linear-gradient(top, #15293D, #342644);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #15293D, #342644);
}

.section-4533 a.button.small.custom.shortcode {
color:#332744;
}
.section-4533 a.button.small.custom.shortcode:hover {
color:#ffffff !important;
}


.section-4076 .two_fifth a.button.small.custom.shortcode,
.section-4533 .two_fifth a.button.small.custom.shortcode,
.section-4547 .two_fifth a.button.small.custom.shortcode,
.section-4554 .two_fifth a.button.small.custom.shortcode,
.section-4675 .two_fifth a.button.small.custom.shortcode
{
font-size:15px;
border: 2px solid #DDDCE1;
color: #DDDCE1;
}

.section-4542 .two_fifth a.button.small.custom.shortcode,
.section-4552 .two_fifth a.button.small.custom.shortcode
 {
font-size:14px;
border: 2px solid #DDDCE1;
letter-spacing:-0.5px;
}

.section-4076 .two_fifth,
.section-4533 .two_fifth,
.section-4542 .two_fifth,
.section-4547 .two_fifth,
.section-4552 .two_fifth,
.section-4554 .two_fifth,
.section-4675 .two_fifth
  {
width: 25%;
margin-left:12%;
margin-bottom: 10px;
}

.section-4076 .three_fifth,
.section-4533 .three_fifth,
.section-4542 .three_fifth,
.section-4547 .three_fifth,
.section-4552 .three_fifth,
.section-4554 .three_fifth,
.section-4675 .three_fifth {
text-align: left;
margin-bottom: 10px;
}

@media only screen and (max-width: 960px)
{
.section-4404 h4{
text-align: center !important;
}
.section-4404 p{
text-align: center !important;
margin-top:40px !important;
}
.section-4286 .nomargin,
.section-5292 .nomargin{
margin-left:0px !important;
}
.section-4076 .two_fifth.column-last,
.section-4533 .two_fifth.column-last,
.section-4542 .two_fifth.column-last,
.section-4547 .two_fifth.column-last,
.section-4552 .two_fifth.column-last,
.section-4554 .two_fifth.column-last,
.section-4675 .two_fifth.column-last   {
display: none !important;
}
.section-4076,
.section-4533,
.section-4542,
.section-4547,
.section-4552,
.section-4554,
.section-4675 {
background-image: none !important;
}
}


@media only screen and (min-width: 1500px) {
.section-4076,
.section-4533,
.section-4542,
.section-4547,
.section-4552,
.section-4554,
.section-4675 {
background-image: none !important;
}

.section-4076 .two_fifth.column-last,
.section-4533 .two_fifth.column-last,
.section-4542 .two_fifth.column-last,
.section-4547 .two_fifth.column-last,
.section-4552 .two_fifth.column-last,
.section-4554 .two_fifth.column-last,
.section-4675 .two_fifth.column-last   {
margin-left: 8%;
    border-left: 2px solid #fff;
    padding-left: 4%;
}
}

@media only screen and (min-width: 769px)
{
.section-4286 a.button,
.section-4034 a.button,
.section-4796 a.button,
.section-4940 a.button,
.section-4047 a.button,
.section-5018 a.button,
.section-5339 a.button,
.section-4108 a.button,
.section-5235 a.button,
.section-5440 a.button,
.section-4084 a.button,
.section-4275 a.button,
.section-4632 a.button
{
display: none !important;
}
}


.section-4455 .innercontent {
margin-top:0px;
}

#footer{
background-color:#F6F9FC;
}

#footer h3.widget-title {
color:#495768;
border-color: rgba(0,0,0,.15) !important;
font-family:'Ubuntu';
}

#footer a{
color:#7085A0;
    border: 0px !important;
padding-left:0px;
}

#footer .widget_nav_menu a:hover {
    color: #495768;
background-color: transparent !important;
}


#topr{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#topl{
border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    left: -1px;
}


.page-id-4046 #mobilenav a.display,
.page-id-5011 #mobilenav a.display,
.page-id-5214 #mobilenav a.display,
.page-id-4172 #mobilenav a.display,
.page-id-5138 #mobilenav a.display,
.page-id-4107 #mobilenav a.display,
.page-id-5233 #mobilenav a.display,
.page-id-5435 #mobilenav a.display,
.page-id-4022 #mobilenav a.display,
.page-id-4460 #mobilenav a.display,
.page-id-4900 #mobilenav a.display,
.page-id-4870 #mobilenav a.display,
.page-id-4083 #mobilenav a.display,
.page-id-4141 #mobilenav a.display,
.page-id-4166 #mobilenav a.display,
.page-id-4677 #mobilenav a.display,
.page-id-1292 #mobilenav a.display,
.page-id-4692 #mobilenav a.display,
.page-id-5507 #mobilenav a.display,
.page-id-4714 #mobilenav a.display {
padding: 2px 5px 12px 5px;
}


.page-id-4046 #mobilenav a:hover,
.page-id-5011 #mobilenav a:hover,
.page-id-5214 #mobilenav a:hover,
.page-id-4172 #mobilenav a:hover,
.page-id-5138 #mobilenav a:hover,
.page-id-4107 #mobilenav a:hover,
.page-id-5233 #mobilenav a:hover,
.page-id-5435 #mobilenav a:hover,
.page-id-4022 #mobilenav a:hover,
.page-id-4460 #mobilenav a:hover,
.page-id-4900 #mobilenav a:hover,
.page-id-4870 #mobilenav a:hover,
.page-id-4083 #mobilenav a:hover,
.page-id-4141 #mobilenav a:hover,
.page-id-4166 #mobilenav a:hover,
.page-id-4677 #mobilenav a:hover,
.page-id-1292 #mobilenav a:hover,
.page-id-4692 #mobilenav a:hover,
.page-id-5507 #mobilenav a:hover,
.page-id-4714 #mobilenav a:hover{
 background: rgba(0, 0, 0, 0.11) url(images/rightarrow.png) 97% 48% no-repeat;
}


.page-id-4046 #mobilenav a,
.page-id-5011 #mobilenav a,
.page-id-5214 #mobilenav a,
.page-id-4172 #mobilenav a,
.page-id-5138 #mobilenav a,
.page-id-4107 #mobilenav a,
.page-id-5233 #mobilenav a,
.page-id-5435 #mobilenav a,
.page-id-4022 #mobilenav a,
.page-id-4460 #mobilenav a,
.page-id-4900 #mobilenav a,
.page-id-4870 #mobilenav a,
.page-id-4083 #mobilenav a,
.page-id-4141 #mobilenav a,
.page-id-4166 #mobilenav a,
.page-id-4677 #mobilenav a,
.page-id-1292 #mobilenav a,
.page-id-4692 #mobilenav a,
.page-id-5507 #mobilenav a,
.page-id-4714 #mobilenav a{
color: #ffffff !important;
}

.vl-in-focus {
font-family: 'Lato', sans-serif;
}

@media only screen and (min-width: 1023px) {
.section-4686 .fourteen.columns.offset-by-one.content,
.section-5135 .fourteen.columns.offset-by-one.content,
.section-5140 .fourteen.columns.offset-by-one.content,
.section-5137 .fourteen.columns.offset-by-one.content,
.section-4693 .fourteen.columns.offset-by-one.content {
width: 965px!important;
margin-left: 0px!important;
}
.section-4717 .fourteen.columns.offset-by-one.content {
width: 965px!important;
margin-left: 0px!important;
}
}

.section-4686 .new-tab-styling ul.tabs li > a.active,
.section-4693 .new-tab-styling ul.tabs li > a.active {
    background-color: #0098bc;
}

.section-4686 .container,
.section-4693 .container {
margin-top: -50px !important;
}

img.aligncenter.size-full.wp-image-4737,
img.aligncenter.size-full.wp-image-4736, img.aligncenter.size-full.wp-image-4738,
img.aligncenter.size-full.wp-image-4739,
img.aligncenter.wp-image-4720.size-full,
img.aligncenter.wp-image-4721.size-full,
img.aligncenter.wp-image-4722.size-full,
img.aligncenter.wp-image-4723.size-full,
img.aligncenter.wp-image-4724.size-full,
img.aligncenter.wp-image-4719.size-full{
opacity:1 !important;
}

@media only screen and (max-width: 1023px) {
img.aligncenter.size-full.wp-image-4736,
img.aligncenter.size-full.wp-image-4737, img.aligncenter.size-full.wp-image-4738,
img.aligncenter.size-full.wp-image-4739,
img.aligncenter.wp-image-4719.size-full,
img.aligncenter.wp-image-4720.size-full,
img.aligncenter.wp-image-4721.size-full,
img.aligncenter.wp-image-4722.size-full,
img.aligncenter.wp-image-4723.size-full,
img.aligncenter.wp-image-4724.size-full{
width:100% !important;
height:auto;
}
}

.section-4717 p{
font-size: 15px !important;
font-family: Lato;
font-weight: 300;
padding: 0px 50px 0px 50px;
margin-top: 5px;
font-style: italic;
color: #999999;
}

div.pp_pic_holder{
z-index: 100000000 !important;
}

@media only screen and (min-width: 1024px) {
.pp_pic_holder {
  top: 0px !important;
left: calc((100% - 1024px)/2) !important;
  display: block !important;
  width: 1056px !important;
}

.ppt {
  opacity: 1 !important;
  display: block !important;
  width: 1024px !important;
}

.pp_content {
  height: 3409px !important;
  width: 1024px !important;
}

.pp_loaderIcon {
  display: block !important;
}

.pp_fade {
  display: block !important;
}

.pp_contract {
  display: inline !important;
}

.pp_hoverContainer {
  height: 3373px !important;
  width: 1024px !important;
  display: none !important;
}


.pp_details {
  width: 1024px !important;
}

.pp_nav {
  display: none !important;
}

.pp_description {
  display: none !important;
}

#fullResImage{
height: auto !important;
width: auto !important;
}
}





@media only screen and (min-width: 965px) {
.section-4686 .fourteen.columns.offset-by-one.content,
.section-5135 .fourteen.columns.offset-by-one.content,
.section-5140 .fourteen.columns.offset-by-one.content,
.section-5137 .fourteen.columns.offset-by-one.content{
width:965px;
margin-left:0px !important;
}
.section-4686 .one_fourth,
.section-5135 .one_fourth,
.section-5140 .one_fourth,
.section-5137 .one_fourth{
width:25%;
margin-right:0px !important;
}
}

.ag-pricing.one_fourth.column-first .ag-pricing-header{
background-color:#fff !important;
}
.ag-pricing.one_fourth.column-second .ag-pricing-header,
.ag-pricing.one_fourth.column-last .ag-pricing-header{
background-color:#EDF5F9 !important;
}
.ag-pricing.one_fourth.column-third .ag-pricing-header{
background-color:#006EAA !important;
background: -webkit-linear-gradient(left, #006eaa, #0095A8) !important;
}

.section-4686 a.button,
.section-5135 a.button,
.section-5140 a.button,
.section-5137 a.button{
    border-radius: 30px;
    background: rgb(255, 255, 255);
    border: 1px solid #006eaa;
    color: #006eaa;
}

.ag-pricing.one_fourth.column-first .ag-pricing-content{
text-align:left !important;
}


.ag-pricing.one_fourth.column-first ul li{
font-size:13px;
line-height: 1.75em;
}


@media only screen and (max-width: 965px) {
.nomobile{
display:none;
}
}


@media only screen and (max-width: 965px) and (min-width: 767px){
.section-4686 .container .fourteen.columns,
.section-5135 .container .fourteen.columns,
.section-5140 .container .fourteen.columns,
.section-5137 .container .fourteen.columns{
width: 768px;
margin-left:0px
}
.section-4686 .one_fourth,
.section-5135 .one_fourth,
.section-5140 .one_fourth,
.section-5137 .one_fourth{
width:25%;
margin-right:0px !important;
}
.section-4686 .ag-pricing-table .ag-pricing-content ul li{
padding: 10px 0px !important;
}
.section-4686 .ag-pricing-table .ag-pricing-button .button{
font-size: 15px;
line-height:18px;
}
}

@media only screen and (max-width: 760px){
.ag-pricing.one_fourth.featured.column-third{
margin-top:20px;
}
}


.section-4686 .new-tab-styling ul.tabs{
margin-bottom: 70px;
}

.section-4686 a.button:hover{
background: #006eaa !important;
}






@media only screen and (min-width: 965px) {
.section-4693 .fourteen.columns.offset-by-one.content{
width:965px;
margin-left:0px !important;
}
.section-4693 .one_fourth{
width:25%;
margin-right:0px !important;
}
}

.ag-pricing.one_fourth.column-first .ag-pricing-header{
background-color:#fff !important;
}
.ag-pricing.one_fourth.column-second .ag-pricing-header,
.ag-pricing.one_fourth.column-last .ag-pricing-header{
background-color:#EDF5F9 !important;
}
.ag-pricing.one_fourth.column-third .ag-pricing-header{
background-color:#006EAA !important;
background: -webkit-linear-gradient(left, #006eaa, #0095A8) !important;
}

.section-4693 a.button{
    border-radius: 30px;
    background: rgb(255, 255, 255);
    border: 1px solid #006eaa;
    color: #006eaa;
}

.ag-pricing.one_fourth.column-first .ag-pricing-content{
text-align:left !important;
}


.ag-pricing.one_fourth.column-first ul li{
font-size:13px;
line-height: 1.75em;
}


@media only screen and (max-width: 965px) {
.nomobile{
display:none;
}
}


@media only screen and (max-width: 965px) and (min-width: 767px){
.section-4693 .container .fourteen.columns{
width: 768px;
margin-left:0px
}
.section-4693 .one_fourth{
width:25%;
margin-right:0px !important;
}
.section-4693 .ag-pricing-table .ag-pricing-content ul li{
padding: 10px 0px !important;
}
.section-4693 .ag-pricing-table .ag-pricing-button .button{
font-size: 15px;
line-height:18px;
}
}

@media only screen and (max-width: 760px){
.ag-pricing.one_fourth.featured.column-third{
margin-top:20px;
}
}


.section-4693 .new-tab-styling ul.tabs{
margin-bottom: 70px;
}

.section-4693 a.button:hover{
background: #006eaa !important;
}


.section-4875{
height: 990px;
background-size: initial;
}

.section-4880,
.section-4886{
padding-top: 0;
background-size: initial;
}

.section-4880 .content{
margin-bottom: 0px !important;
}


@media only screen and (max-width: 960px) {
.section-4875,
.section-4880,
.section-4886{
height: fit-content;
background-image: none !important;
background-color:#ffffff;
}
}

@media only screen and (min-width: 960px) {
.section-4875 .container .sixteen.columns,
.section-4880 .container .sixteen.columns {
width: 820px !important;
margin-left: 60px !important;
}
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
.section-4875 .container .sixteen.columns,
.section-4880 .container .sixteen.columns {
width: 652px !important;
margin-left: 48px !important;
}
.section-4875 a.button.small.shortcode,
.section-4886 a.button.small.shortcode{
font-size:17px;
}
}




.internbox{
background-color: #ffffff;
box-shadow: 0 2px 4px rgba(0,0,0,0.5);
border-radius: 6px;
}

@media only screen and (min-width: 1024px){
.internbox{
width: calc(48% - 1px);
}
.internbox .month{
float: right !important;
}
.internbox h4{
float: left;
}
}

.internbox img{
border-radius: 6px 6px 0px 0px;
max-width: 100%;
height: auto;
max-height: 275px;
margin-bottom: 20px;
}


.internbox .button{
    float: right;
    border: 1px solid #92a1b3;
    color: #92a1b3 !important;
    background-color: #fff !important;
    width: 90%;
    text-align: center;
}

.internbox .button:hover{
   color: #ffffff !important;
    background-color: #92a1b3 !important;
}

.page-id-4900 .sixteen.columns {
margin-left: 10px !important;
}

.page-id-4900 .pagetitle h2{
letter-spacing:2px !important;
opacity:0.75;
}

.page-id-4900 .pagetitle.big-header-image{
height: fit-content;
padding-bottom: 0px;
}

.section-4923{
padding-top: 40px !important;
}



body.page-id-4900 .sitecontainer,
.section-4462
{
/* fallback */
  background-color: #543359;

  /* Safari 4-5, Chrome 1-9 */
  background: url("http://vacationlabs.staging.wpengine.com/wp-content/uploads/2017/09/pattern4.png"), -webkit-gradient(linear, left top, right top, from(#543359), to(#904359));

  /* Safari 5.1, Chrome 10+ */
  background:url("http://vacationlabs.staging.wpengine.com/wp-content/uploads/2017/09/pattern4.png"), -webkit-linear-gradient(left, #543359, #904359);

  /* Firefox 3.6+ */
  background: url("http://vacationlabs.staging.wpengine.com/wp-content/uploads/2017/09/pattern4.png"), -moz-linear-gradient(left, #543359, #904359);

  /* IE 10 */
  background: url("http://vacationlabs.staging.wpengine.com/wp-content/uploads/2017/09/pattern4.png"), -ms-linear-gradient(left, #543359, #904359);

  /* Opera 11.10+ */
  background: url("http://vacationlabs.staging.wpengine.com/wp-content/uploads/2017/09/pattern4.png"), -o-linear-gradient(left, #543359, #904359);
}




.section-5135 .one_half,
.section-5140 .one_half,
.section-5137 .one_half{
width: 50%;
margin-right: 0px !important;
margin-bottom:15px;
}

.section-5135 li,
.section-5140 li,
.section-5137 li{
list-style: none !important;
}

.starterplan{
background-color:#EDF5FA !important;
height:180px;
z-index: 999;
display: block;
width: 25%;
position: absolute;
border: 1px solid #dceaf3;
box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


@media only screen and (max-width: 1024px) and (min-width:768px){
.section-5135 .ag-pricing.one_half.featured.column-second,
.section-5140 .ag-pricing.one_half.featured.column-second,
.section-5137 .ag-pricing.one_half.featured.column-second {
    padding-top: 20px !important;
    margin-top: -10px;
    height: 205px !important;
}
.section-5135 .manualbookingconf,
.section-5140 .manualbookingconf,
.section-5137 .manualbookingconf{
letter-spacing: -0.9px;
}
}

@media only screen and (max-width: 700px){
.starterplan{
width: 100%;
position: static;
}
.section-5135 .one_half,
.section-5140 .one_half,
.section-5137 .one_half{
width:100% !important;
}
.section-5135 .ag-pricing.one_half.featured.column-second,
.section-5137 .ag-pricing.one_half.featured.column-second,
.section-5140 .ag-pricing.one_half.featured.column-second{
margin-top:-21px;
height: fit-content !important;
}
.section-5135 .ag-pricing.one_fourth.featured.column-last,
.section-5140 .ag-pricing.one_fourth.featured.column-last,
.section-5137 .ag-pricing.one_fourth.featured.column-last{
margin-top:-16px;
}
.section-5135 .ag-pricing-cost,
.section-5140 .ag-pricing-cost,
.section-5137 .ag-pricing-cost{
margin-top:0 !important;
}
}

.section-5135 .ag-pricing-table .ag-pricing-button,
.section-5140 .ag-pricing-table .ag-pricing-button,
.section-5137 .ag-pricing-table .ag-pricing-button{
margin: 0px 20px;
padding: 0 !important;
}


.section-5140{
padding-top:10px;
}


.section-5142 .border_right{
border-right: 1px solid #3397e1;
width: 47%;
}

.section-5177{
padding-top: 0px !important;
}

.section-5177 .button
{
/* fallback */
  background-color: #00579f;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#00579f), to(#00CAB2));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #00579f, #3397e1);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #00579f, #3397e1);

  /* IE 10 */
  background: -ms-linear-gradient(left, #00579f, #3397e1);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #00579f, #3397e1);
}

@media only screen and (max-width: 767px) {
.section-5142 .mobilefix{
width:40% !important;
}
.section-5142 .one_third{
width: 50% !important;
margin-right:0px !important;
}
.section-5142 img.wp-image-5166{
margin-top:18px;
}
}

.section-5142 .three_fifth{
margin-bottom: 0px !important;
}

.complimentary{
display: inline-block;
}

.section-5140 .fourteen.columns.offset-by-one.content{
margin-bottom: 10px;
}


@media only screen and (max-width: 767px){
mobile-shift{
margin-left:20px;
}
}

ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul{
left:202px;
}


.section-5292 .ag-pricing li{
   margin: 0px;
   padding: 18px 0px;
}




/*starter pack form*/


.section-5292 .mc4wp-form-fields p {
    text-align: left;
    margin-bottom:10px;
}


input[type="submit"]{
color: #438bca!important;
    background-color: #ffffff!important;
    border: 2px solid #ffffff;
    letter-spacing: 2px;
    padding: 10px 24px;
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover{
color: #ffffff !important;
    background-color: transparent !important;
    border: 2px solid #ffffff;
}


.mc4wp-form-theme label {
font-size:14px;
}


.mc4wp-alert p
{
    font-family: lato;
    font-size: 28px;
    text-align: left !important;
}

.section-5292{
padding-top: 10px;
}


@media only screen and (min-width: 340px){
.page-id-5138 .container.top-nav.verticalcenter{
display: flex;
    flex-direction: row;
    justify-content: center;
}
}

.page-id-5138 #menu{
display:none;
}

@media only screen and (max-width: 350px){
.page-id-5138 #logo{
margin-left:0px;
}
}

@media only screen and (max-width:760px){
.page-id-5138 .mobilenavcontainer{
display: none;
}
.page-id-5138 #logo img{
margin-left:auto !important;
margin-right:auto !important;
}
.page-id-5138 .container.top-nav.verticalcenter {
    padding-bottom: 0px !important;
    padding-top: 37px;
}
}
.page-id-5138 .container.top-nav.verticalcenter {
    padding-top: 37px;
}