.bootstrap-content{
	@import '_grid';
	@import '_breadcrumb';
	@import '_sidebar';
	@import '_filters';
	@import '_popover';
	@import '_preview';

	&.pagecontent{
		padding-top: 0;
		background-color: #fff;
		z-index: 99999;
	}
}
@import '_singlecard';